*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    height: 90vh;
    display: flex;
    align-items:center;
    justify-content: center;
    font-family: cursive;
    font-weight:lighter;
}

.wrapper{
    background: #000;
    color: wheat;
    padding: 2rem;
    border-radius: 20px;
}

textarea{
    margin: 2rem;
    resize: none;
    background: rgb(184, 184, 184);
    outline: none;
}
textarea::placeholder{
    color: rgb(255, 247, 247);
}

.counts{
    display: flex;
    flex-direction: column;
}